server.port=8081

spring.datasource.url=jdbc:postgresql://localhost:5432/authdb
spring.datasource.username=app
spring.datasource.password=

# Dev-only secret (OK for local)
app.jwt.secret=

# Dev-only makes SQL logs pretty
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true